
html {
  background: url(../pokemonImage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: brightness(90%);
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header--container{
  padding: 20px;
  color: white;
  width: max-content;
  background-color: rgba(26, 25, 25, 0.199);
  border-radius: 40px;
}

.playerboard--container{
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.grid--{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.pokemon--container{
  background-color: black;
  border-radius: 30px;
  width: 250px;
  height: 300px;
  padding: 20px;
  color: white;
  margin: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 30px black;
  font-size: .7rem;
}

.pokemon--container:hover{
  box-shadow: 1px 1px 30px rgb(207, 36, 79);
  transition: .5s margin;
  margin: 10px;
}

.pokemon--container:active{
  box-shadow: 1px 1px 30px rgb(226, 240, 28);
}

.pokemon--container > img {
  width: 100%;
}

.loss-screen-modul{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: rgba(56, 55, 55, 0.61);
}
.loss-screen-container{
  display: flex; 
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly; 
  align-items: center;
  background-color: rgb(252, 252, 252);
  width: 600px;
  height: 200px;
  border-radius: 300px;
}

.loss-screen-play--again{
  cursor: pointer;
}

.loss-screen-play--again:hover {
  cursor: pointer;
  color: rgb(240, 60, 60);
}

.credits{
  position: absolute;
  display: flex;
  flex-direction: column;
  color: rgb(164, 164, 165);
  text-decoration: none;
  bottom: 0;
  left: 0;
}

a{
  color: rgb(86, 86, 88);
  text-decoration: none;
}