
html {
  background: url(../public/pokemonImage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: brightness(90%);
}

*{
  margin: 0;
  box-sizing: border-box;
}

.header--container{
  padding: 20px;
  color: white;
  width: max-content;
  background-color: rgba(26, 25, 25, 0.199);
  border-radius: 40px;
}